<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/join" method="post">
    <div id="radioWrap" style="display: flex">
        <label><input type="radio" name="accountType" value="Realtor"> <span>중계인</span></label>
        <label><input type="radio" name="accountType" value="Lessor"> <span>임대인</span></label>
        <label><input type="radio" name="accountType" value="Lessee"> <span>임차인</span></label>
    </div>
    <div>
        <span>아이디</span><input type="text" name="accountId" placeholder="아이디를 입력해주세요">
    </div>
    <div>
        <span>닉네임</span><input type="text" name="nickname" placeholder="닉네임을 입력해주세요">
    </div>
    <div>
        <button>회원가입</button>
    </div>
</form>

</body>
</html>